<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Libros</div>
                <a class="nav-link" routerLink="/list-books">
                    <div class="sb-nav-link-icon"><i
                            class="fas fa-tachometer-alt"></i></div>
                    Material Bibliográfico
                </a>

            </div>
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Extras</div>
                <a class="nav-link" routerLink="/chatbot">
                    <div class="sb-nav-link-icon"><i
                            class="fas fa-tachometer-alt"></i></div>
                    Chatbot
                </a>

            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Sesión como:</div>
            Admin
        </div>
    </nav>
</div>